<div>
    <hr />
    <small>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <a href="https://github.com/jourzero/hack-tools/blob/master/LICENSE">Copyright &copy; jourzero 2020</a>
    </small>
</div>
